<a href="https://colab.research.google.com/github/RoseYvettePiano12/PLNG211-QC/blob/main/Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Accessing the Elements in the Array

animals = ['cat','dog','fish']
print('The animals are:', animals)
print('The animal in the first list is', animals[0])

The animals are: ['cat', 'dog', 'fish']
The animal in the first list is cat

In [6]:
#Modifying the Elements in the Array

animals = ['cat','dog','fish']
animals[0] = 'monkey'
print(animals)

['monkey', 'dog', 'fish']

In [7]:
#Length of an Array

animals = ['cat','dog','fish']
x = len(animals)
print(x)

3

In [9]:
#Looping Array Elements

animals = ['cat','dog','fish']
for x in animals:
  print(x)

cat
dog
fish

In [14]:
#Adding Elements in the Array

animals = ['cat','dog','fish']
animals.insert(1,'monkey')
print(animals)

#Append

animals.append('bird')
print(animals)

['cat', 'monkey', 'dog', 'fish']
['cat', 'monkey', 'dog', 'fish', 'bird']

In [25]:
#Removing an Element in Array

animals.pop
print(animals)

['dog', 'monkey']