<a href="https://colab.research.google.com/github/RoseYvettePiano12/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#if statement

a = 100
b= 100
if a<b:
  print("a is less that b")

In [ ]:
#Elif statement

if a<b:
  print("a is less than b")
elif a>b:
  print("a greater than b")

In [ ]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print ("a is equal to b")

a is equal to b

In [ ]:
# short hand if statement

c = 5
d=10
if c>d: print("c>d")

In [ ]:
#shorthand if else statement

print("c>d") if c>d else print("d>c")

d>c

In [ ]:
#and statement

if 5>10 and 8>4:
  print("both statements are true")
else:
  print("one of the statement is false /both statement")

one of the statement is false /both statement

In [ ]:
#or statement

if 5>10 or 4>8:
  print('true')
else:
  print("false")

false

In [ ]:
#bitwise operator ^(xor)

e = 4 #0100 in binary
f= 2 #0010 in binary
e^f

6

In [ ]:
#nested if statement
x=39
if x>10:
  print("Number is above 10")
  if x>20:
    print("number is above 20")
    if x>30:
     print("number is above 30")
     if x>40:
      print("number is above 40")
      if x>50:
       print("number is above 50")
      else:
        print("the number is less than 50")
     else:
      print("number is less than 40")

Number is above 10
number is above 20
number is above 30
number is less than 40

In [ ]:
#Write a program that determines the input age is qualified to vote or not.
#the qualifying age is 18 yrs old above.

age=18
if age>=18:
  print("qualified to vote")
else:
    print("you are not qualified to vote")

qualified to vote

In [ ]:
age=input("Enter age: ")
if int(age)>=18:
  print("You are qualified to vote")
else:  
  print("you are not qualified to vote")

Enter age: 19
You are qualified to vote

In [ ]:
#application2. Write a program that determines if the input number is positive negative or zero

n = 0
if n>0:
  print("positive number")
elif n<0:
  print("negative number")
else:
  print("it is zero")

it is zero

In [ ]:
num = input("Enter num: ")
if int(num)>0:
  print("The number is POSITIVE")
elif int(num)<0:
  print("the numnber is NEGATIVE")
else:
  print("it is zero!")

Enter num: 12
The number is POSITIVE

In [ ]:
#for loop statement 

week=["sunday","monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "Sunday",]
for y in week:
  if y== "thursday":
   break
  print(y)

sunday
monday
tuesday
wednesday

In [ ]:
for x in "week":
  print(x)

w
e
e
k

In [ ]:
#range function

for x in range(6):
 
 print (x)

0
1
2
3
4
5

In [1]:
for x in range(2,6+1,1):
 print(x)

2
3
4
5
6

In [2]:
adj = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [3]:
i=1
while i<6:
  print(i)
  i+=1 #i = i+1

1
2
3
4
5

In [4]:
 i=1
while i<=6:
  print(i)
  if i ==3:
    break
  i+=1

1
2
3

In [5]:
#using the while loop and break statement, the output is only 3
i=3
while i<=3:
    print(i)
    break

3