<a href="https://colab.research.google.com/github/RoseYvettePiano12/PLNG211-QC/blob/main/Introduction_to_Python_Programming_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Python Indentation

In [1]:
#This is an example of Python Indentation

if 5>2:
   print("5 is greater than 2")

5 is greater than 2

Phyton Variable

In [ ]:
x = 1
a,b=0,-1
a = 9
c = "sally"
c = "danny"
print (a)
print(c)
c = "maria"
print(c)

9
danny
maria

Casting

In [ ]:
d = int(4)
print(d)
e = float(4)
print(e)

4
4.0

Type () function

In [ ]:
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>

Single quotes or Double quotes

In [ ]:
f= "maria"
print(f)
g = 'ana'
print(g)

maria
ana

Multiple Variable

In [ ]:
x,y,z=4,5,6
print(x)
print(y)
print(z)

4
5
6

Single Value to a Multiple Variables

In [ ]:
x=y=z="lilo"
print(x)
print(y)
print(z)

lilo
lilo
lilo

Output Variable using Print and +

In [2]:
s="python is"
t="enjoying"
print("python is"+" "+ t)
print(s+' '+t)

python is enjoying
python is enjoying

Arithmetic

In [3]:
x = 1
y = 2
sum = x+y
x
y
sum
print(x)
print(y)
print(sum)

#modulo division
l = 4%2
print("4%2=", l )

#floor division
k= 3//2
print("3/2=", k )

1
2
3
4%2= 0
3/2= 1

Assignment Operator

In [4]:
x = 1
x+=1
print(x)

2

Logical Operator

In [5]:
q = 1
r = 4
q>r and r==r

False